
@keyframes linespread {
    0% {width: 0%}
    33% {width:0%}
    90% {width: 75%}
    100% {width: 75%}
}

@keyframes text-appear {
    0% {opacity: 0;}
    100% {opacity: 98%;}
}
    @keyframes text-appear-subtitle {
        0% {opacity: 0}
        50% {opacity: 0}
        100% {opacity: 98%;}
}

html, body {
    height : 100%;
    margin : 0;
    min-width: fit-content;
    background-image: radial-gradient(rgb(78, 119, 172),rgb(62, 151, 211));
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height : 100%;
    width : 100%;
    cursor: default; 
    padding: 0px 20px; /* Add some padding to create space around the content */
    box-sizing: border-box;
}

.feature {
    color: #ffd3ff;
    font: italic  6em "Times New Roman", serif;
    background: none !important;
    animation-name: text-appear;
    animation-duration: 4s;
    text-shadow: 0px 1px 5px #F0DCCA ;
    text-align: center;
    margin: 0px;
    padding: 5px 0px;
    margin-right: -1px; /* Counteract the slight movement */

}

#subtitle {
    font: italic  3.5em "Fira Sans", serif;
    animation-name: text-appear-subtitle;
    animation-duration: 5s;
    font-family: 'Beau Rivage', cursive;
}

.box {
    height : 1px;
    animation-name: linespread;
    animation-duration: 3.8s;
    width : 75%;
    background-image: linear-gradient(to right, #63458A, #f87df8, #63458A);
    box-shadow: 0px 1px 5px #F0DCCA ;
    margin : 10px
}

.slideshow-container {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: space-between;
    animation-name: text-appear;
    animation-duration: 4s;
    padding: 0px 0px;
    opacity: 98%;
}

.slides {
    height: 290px;
    width: auto;
    border: none;
    border-radius: 10%;
    box-shadow: 0px 1px 10px #352313 ;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font:   1.5em "Times New Roman", serif;
    color: #ffd3ff;
    animation-name: text-appear-subtitle;
    animation-duration: 5.5s;
}

.links {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0px;
}

.links li {
    padding: 0px 30px;
    text-shadow: 0px 1px 5px #F0DCCA;
    white-space: nowrap;
    background: none;
}

li:hover {
    visibility: none;
}